@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 56 98;
    --foreground: 220 29 6;

    --card: 228 56 98;
    --card-foreground: 220 29 6;

    --popover: 228 56 98;
    --popover-foreground: 220 29 6;

    --primary: 228 56 98;
    --primary-foreground: 220 29 6;

    --secondary: 220 29 6;
    --secondary-foreground: 228 56 98;

    --tertiary: 19 92 48;
    --tertiary-foreground: 228 56 98;

    --muted: 220 29 6;
    --muted-foreground: 214.3 31.8 91.4;

    --accent: 220 29 6;
    --accent-foreground: 214.3 31.8 91.4;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 228 56 98;

    --border: 214.3 31.8 91.4;
    --input: 214.3 31.8 91.4;
    --ring: 220 29 6;

    --radius: 0.5rem;
  }

  .dark {
    --background: 220 29 6;
    --foreground: 228 56 98;

    --card: 220 29 6;
    --card-foreground: 228 56 98;

    --popover: 220 29 6;
    --popover-foreground: 228 56 98;

    --primary: 220 29 6;
    --primary-foreground: 228 56 98;

    --secondary: 228 56 98;
    --secondary-foreground: 220 29 6;

    --tertiary: 19 92 48;
    --tertiary-foreground: 220 29 6;

    --muted: 214.3 31.8 91.4;
    --muted-foreground: 220 29 6;

    --accent: 214.3 31.8 91.4;
    --accent-foreground: 220 29 6;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 228 56 98;

    --border: 214.3 31.8 91.4;
    --input: 214.3 31.8 91.4;
    --ring: 228 56 98;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html{
  scroll-behavior: smooth;
}

nav {
  animation: NavScroll linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 200px;
}

@keyframes NavScroll {
  0% {

  }

  100% {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
  }
}

.bg-card{
  background: rgba( 24, 24, 24, 0.05 );
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  @apply rounded-md shadow-md;
}

.bg-button{
  background: rgba( 24, 24, 24, 0.05 );
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  @apply rounded-md shadow-md;
}

.pulse{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  @apply bg-green-300;
  animation: 1.5s pulse infinite ease-in-out;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #69ffa8;
  }

  100% {
    box-shadow: 0 0 0 5px #69ffa800;
  }
}

/* h1 {
  background: linear-gradient(to right, hsl(var(--secondary)), hsl(var(--tertiary)));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
} */


.rebote{
  animation-name:rebote;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes rebote {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }

}

html{
  scrollbar-width: none;
}

.decription-project{
  scrollbar-color: #ed500a transparent;
  scrollbar-width: thin;
}