<section id="experiencia" class="flex flex-col gap-5">
<h2 class="md:text-4xl text-3xl font-bold text-tertiary"><i class='bx bxs-briefcase-alt-2 md:text-3xl text-2xl'></i> Experiencia</h2>
<ol class="relative border-s border-gray-200 dark:border-gray-700">                  
    <li class="mb-10 ms-6">
        <span class="absolute flex items-center justify-center size-6 rounded-full -start-3 bg-tertiary">
            <i class='bx bxs-calendar-alt text-[16px]'></i>
        </span>
        <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">
            Desarrollador Front-End <strong class="text-tertiary">@Gesat</strong></h3>
        <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">ene. 2023 - ago. 2023 | Riohacha, Colombia</time>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400 md:max-w-[80%]">Durante mi período en Gesat, de enero a agosto de 2023, ocupé el rol de desarrollador frontend <strong class="text-tertiary">en tres proyectos</strong> cruciales relacionados con inversiones sociales para comunidades indígenas. Mi contribución se enfocó en diseñar y desarrollar interfaces de usuario, trabajando en equipos multidisciplinarios para implementar soluciones web innovadoras.project.</p>
    </li>
</ol>
</section>

