<footer class="md:mt-20 mt-0 p-5 flex flex-col gap-3">
  <section class="flex  md:flex-row flex-col justify-center items-center gap-5">
    <div class="flex flex-col justify-center items-center md:items-start gap-4">
      <a href="#inicio">
        <img
          src="/LOGO CLARO.png"
          alt="logo"
          class="h-20 w-36 block dark:hidden"
        />
        <img
          src="/LOGO OSCURO.png"
          alt="logo"
          class="h-20 w-36 hidden dark:block"
        />
      </a>
      <p class="text-balance md:text-4xl text-2xl font-bold md:max-w-[60%] max-w-full md:text-start text-center">¿TIENES UN PROYECTO? ESTOY DISPONIBLE VAMOS A HABLAR.</p>
    </div>
    <div class="flex flex-col gap-3">
        <h3 class="text-3xl font-bold text-tertiary">Sígueme</h3>
        <div class="flex justify-between">
            <a href="https://www.facebook.com/leinerdavid.hoyoscabrera.10" class="hover:text-tertiary transition-all duration-300"><i class='bx bxl-facebook-circle text-3xl'></i></a>
            <a href="https://github.com/leinerdavidhc" class="hover:text-tertiary transition-all duration-300"><i class='bx bxl-github text-3xl'></i></a>
            <a href="https://www.instagram.com/leinerhoyos_/" class="hover:text-tertiary transition-all duration-300"><i class='bx bxl-instagram text-3xl'></i></a>
        </div>
    </div>
  </section>
  <div class="border-t pt-4 flex justify-center items-center">Hecho con ❤️ por  <a href="https://github.com/leinerdavidhc" class="p-1 underline hover:text-tertiary transition-all duration-300"> @Leinerhc</a></div>
</footer>
