---
import Skills from "./Skills"
---
<section  class="flex flex-col justify-center
gap-5" id="skills">
    <h2 class="md:text-4xl text-3xl font-bold text-tertiary"><i class='bx bxs-cog md:text-3xl text-2xl' ></i> Tecnologías</h2>
    <p class="md:max-w-[80%] text-balance">En mi viaje por el <strong class="text-tertiary">mundo del desarrollo web</strong>, he cultivado <strong class="text-tertiary">experiencia y habilidades</strong> en una variedad de tecnologías. <strong class="text-tertiary">Mi stack tecnológico incluye:</strong></p>
    <Skills/>
</section>
